<%- include('partials/header'); %>

<ul>
	<i><a href="/">Go home</a></i>
	<i><a href="/logout">Logout</a></i>
</ul>
<div><h5><%= message %></h5></div>

<p><strong>Hi</strong> 
	<% if (user.google) { %>
	<%= user.google.email %>
  <% } %>
  <% if (user.local) { %>
	<%= user.local.email %><br>
	<% } %>
</p>

<%- include('partials/footer') %>

<style>
	body {
		padding: 10px;
	}
</style>