<%- include('partials/header'); %>

<div><h2><%= message %></h2></div>

<a href="/logout">Logout</a>

<p>
  <strong>id</strong>: <%= user._id %><br>
  <strong>email</strong>: <%= user.local.email %><br>
  <strong>password</strong>: <%= user.local.password %>
</p>